@media (max-width: 1350px) and (min-width: 1100px) {
    .activity-boxes-w .activity-time {
        -webkit-box-flex: 0;
        flex: 0 0 150px;
    }
}


/* Vertical Stick +60 */

@media (max-width: 1350px) and (min-width: 1100px) {
    .activity-boxes-w .activity-box-w:before {
        left: 125px;
    }
}


/* Horizontal stick +60 */

@media (max-width: 1350px) and (min-width: 1100px) {
    .activity-boxes-w .activity-box-w:after {
        left: 130px;
    }
}